{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    
        <br>
        
        <h2>{{ category }}</h2>
        
        {% for listing in listings %}
            <li> <a href="{% url 'auctions:listing' listing.id %}">Auction {{ listing.id }}:</a> {{ listing.title }} by {{ listing.user }} for SGD${{ listing.price }} </li>
        {% endfor %}


    {% endif %}

    
{% endblock %}


<!-- <li> <a href="{% url 'auctions:listing' auction.id %}">Auction {{ listing.id }}:</a>  </li> -->