{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    <br>
    <h3>Listing Details</h3>
    <p>Listed by {{ listing.user }} for ${{ listing.price }}</p>
    <p>{{ listing.description }}</p>

    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}
        {% if listingWatchlistedByUser %}
            <div class="alert alert-warning w-25" role="alert">
                In Watchlist
            </div>
            <button name="watchlist" type="submit" class="btn btn-primary mb-2">Remove from Watchlist</button>
        {% else %}
            <div class="alert alert-warning w-25" role="alert">
                Not In Watchlist
            </div>
            <button name="watchlist" type="submit" class="btn btn-primary mb-2">Add to Watchlist</button>
        {% endif %}
    </form>

    {% if user.is_authenticated %}
        <p>Bid History</p>
        <ul class="list-group">
            {% for bid in bids %}
                <li class="list-group-item w-25 mb-2">{{ bid }}</li>
            {% empty %}
                No bids so far.
            {% endfor %}
        </ul>

        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}

            {{ form }}

            <button type="submit" class="btn btn-primary mb-2">Place Bid</button>
        </form>
    {% endif %}
    
    <br>

    <h3>Comments</h3>
    <div class="card w-25" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for comment in comments %}
                <li class="list-group-item">{{ comment }}</li>
            {% empty %}
                <li class="list-group-item text-muted">No comments here, be the first to leave a comment.</li>
            {% endfor %}
        </ul>
    </div>
    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}

        {{ commentForm }}

        <button type="submit" class="btn btn-primary mb-2">Comment</button>
    </form>
{% endblock %}