body{
    font-family: arial,sans-serif;
}

.adv-search-header {
    margin: 25px 45px;
    color: #d93025;
    font-size: 20px;
}

.adv-search-bar {
    display: flex;
    margin: 40px 0px 0px 45px;
}

.column {
    justify-content: start;
}

.left {
    min-width: 167px;
    width: 16%;
}

.adv-search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}