body{
    font-family: arial,sans-serif;
}

.textinput {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
}

.adv-search-header {
    margin: 25px 45px;
    color: #d93025;
    font-size: 20px;
}

.adv-search-bar {
    display: flex;
    margin: 40px 0px 0px 45px;
}

.column {
    justify-content: start;
}

.left {
    min-width: 167px;
    width: 16%;
}

.right {
    min-width: 167px;
    width: 50%;
}

.column-cell {
    height: 42px;
}

#find-pages-with {
    color: #333;
}

label {
    font-size: 13px;
}

.adv-search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}