.btn {
  /* Font */
  color: var(--font-color);
  font-weight: var(--font-weight);

  /* Border */
  border: 2px var(--border-color-main) solid;
  border-radius: var(--border-radius);

  /* Spacing & Margin */
  padding: 5px 5px 5px 12px;

  /* Button */
  background: #fff;
}
