{% extends "anki/layout.html" %}

{% load static %}

{% block title %}Active Recall: {{ collectionId }} | Anki{% endblock %}

{% block body %}
  <div id="cardFrame" class="w-auto h-50 d-flex flex-row justify-content-center align-items-center">
    <div id="cardId" data-card-id="" class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <div id="cardQuestion" class="card-title">Placeholder Card Question</div>
        <div id="cardAnswer" class="card-text mb-3">Placeholder Card Answer</div>
        <button id="showAnswer" class="btn btn-primary">Show Answer</button>
        <button id="nextCard" class="btn btn-primary" disabled>Next Card</button>
      </div>
    </div>
  </div>
  <script src="{% static 'anki/activeRecall.js' %}"></script>
  {{ listOfCards|json_script:"list-of-cards" }}
{% endblock %}