/* Global variables */
:root {
  --primary-color: #ff385c;
  --font-color: #000000;
  --font-size-main: 18px;
  --font-weight: 600;
  --border-color-main: #dddddd;
  --border-radius: 20px;
}

/* Global classes */
.default-font {
  /* Font */
  color: var(--font-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
}

.link {
  text-decoration: none;
  color: var(--font-color);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
